@page "/"

<PageTitle>Index</PageTitle>

<div class="row justify-content-center">
    <div class="col-10">
        <h1>Welcome to Task Time Tracker</h1>
        <AuthorizeView>
            <NotAuthorized>
                <p>To start working, please, Create account or Log in</p>
            </NotAuthorized>
            <Authorized>
                <p>To start working, please, connect to any Space</p>
            </Authorized>
        </AuthorizeView>
    </div>
</div>





