@inherits LayoutComponentBase

<PageTitle>TaskTimeTracker</PageTitle>

<div class="page">
    <header>
        <NavMenu />
    </header>


    <main role="main" class="pb-3">
        <div class="container-fluid">
            @Body
        </div>
    </main>
</div>

